.banner {

    background-size: cover;
    background-position-x: center;
    background-position-y: 20%;
    background-attachment: scroll;
    background-repeat: repeat-y;

    width: 100%;
    height: 90vh;
    position: relative;

    .banner__cover {
        height: 100%;
        width: 100%;
        position: relative;
    }

    img {
        position: absolute;
        bottom: 0;

    }
}