/* @keyframes service--hover {
    0%{
        height: 35px;
    }
    25%{
        width: 3px;
        height: 35px;
    }
    50%{
        height: 90px;
        bottom: 101%;
    }
    75%{
        width: 75px;
    }
    100%{
        
    }
} */