.contact {
  position: absolute;
  width: 100vw;
  background-color: $color-2;
  overflow-x: hidden;

  main {
    height: 100vh;

  }

  &:before {
    content: "";
    height: 700px;
    width: 700px;
    background: $color-1;
    border-radius: 50%;
    position: absolute;
    bottom: 400px;
    right: 0px;
    z-index: 0;
    opacity: 0.8;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 840px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }

    @media screen and (max-width: 430px) {
      display: none;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1);
      }
    }
  }



  .logo {
    top: 8px;
    right: 1rem;
  }

  .form-container {
    margin: 0px 0 0 24%;
    padding-top: 270px;
    max-width: 50%;
    position: relative;
    max-width: 500px;
    width: 40%;





    h2 {
      margin-bottom: 50px;

      &:before {
        content: "";
        height: 70px;
        width: 70px;
        border: 1px $color-4 solid;
        border-radius: 50%;
        position: absolute;
        top: 256px;
        left: 157px;
        z-index: 0;
      }
    }

    @media screen and (max-width: 740px) {
      margin: 0px auto 0 auto;
      padding-top: 150px;
      width: 65%;

      h2 {
        margin-bottom: 50px;

        &:before {
          top: 130px;
          left: 100px;
        }
      }

    }

    @media screen and (max-width: 440px) {
      padding-top: 150px;

      width: 80%;

      h2 {
        margin-bottom: 50px;

        &:before {
          top: 130px;
          left: 100px;
        }
      }


    }

    .form-content {
      display: grid;
      padding-right: 30px;

      input,
      textarea {
        background: none;
        font-family: $font-1;
        font-size: 1.2rem;
        border-bottom: 1px solid $color-1;
        border-radius: 5px;

        @media screen and (min-width: 1200px) {
          font-size: 1.5rem;
        }
      }

      input {
        padding: 10px 6px;
        margin-bottom: 30px;
        width: 100%;
      }
    }

    textarea {
      resize: none;
      padding: 6px 0;
      height: 70px;

      @media screen and (max-width: 540px) {
        width: 75%;
        padding: 12px 0;
      }
    }

    input.button {
      background: $color-4;
      height: 55px;
      width: 126px;
      border-radius: 50px;
      margin-top: 20px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      color: $color-2;
      font-weight: 700;
    }
  }

  .form-message {
    p {
      border-radius: 20px;
      text-align: center;
      padding: 5px 0;
    }

    p.success {
      background: rgb(139, 248, 139);
    }

    p.error {
      background: rgb(246, 147, 147);
    }
  }
}

.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  padding-top: 20%;
  padding-right: 10px;
  height: 100%;

  width: 30%;
  max-width: 500px;

  @media screen and (max-width: 740px) {
    padding-top: 0px;
    height: 20%;
    width: 100%;
    max-width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a b c"

  }

  @media screen and (max-width: 540px) {
    padding-top: 0px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "b c"
    ;
  }

  @media screen and (max-height: 500px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 15%;
    padding-right: 20px;
    width: 35%;
    height: 100%;
  }

  h4 {
    color: $color-4;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      font-size: 1.8rem;
    }
  }

  p {
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }

  .email,
  .phone,
  .address {
    @media screen and (max-height: 720px) {
      display: none;
      height: 50px;
    }
  }

  .email .content p,
  .phone .content p {
    transition: 0.25s;

    &:hover {
      transform: translateX(5px);
    }
  }

  .address {
    position: relative;
    margin-left: 20px;

    @media screen and (max-width: 540px) {
      display: none;
    }

    .content {
      position: absolute;
      right: 10px;
    }
  }

  .phone {
    position: relative;

    @media screen and (max-width: 540px) {
      text-align: center;
      font-size: 0.8rem;
      grid-area: b;
    }

    .content {
      position: absolute;
      left: 40%;
      transform: translateX(-50%);

      @media screen and (max-width: 540px) {
        position: relative;
        margin: 0 auto;
        left: 0;
        transform: translateX(0);
      }
    }
  }

  .email {
    @media screen and (max-width: 540px) {
      grid-area: c;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .social-network {
    position: relative;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 740px) {
      width: 50%;
      grid-area: d;
    }

    @media screen and (min-width: 1200px) {
      font-size: 2rem;
    }

    .content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .credits {
    text-align: center;

    @media screen and (max-width: 740px) {
      transform: translateY(20px);
      font-size: 0.7rem;
      margin-right: 1rem;

    }

    p {
      font-size: 0.9rem;
    }
  }
}