.home-main {
    background-image: url(./../../../public/assets/img/lady-ball.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: scroll;
    background-repeat: repeat-y;

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
    .home-main {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

.title-container {
    padding-top: 200px;

    h1,
    .under-title {
        color: $color-1;
        text-align: center;

    }



    .under-title {
        color: $color-5;
        text-align: center;
        font-size: 2rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    position: relative;
    text-align: justify;
    border-top: black dashed 2px;
    overflow: hidden;

    &::before {
        content: "À PROPOS";
        font-size: 10rem;
        font-weight: 900;
        position: absolute;
        text-align: center;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 2000px;
        opacity: 0.08;
        color: $color-2;
    }

    &__presentation {
        padding-top: $item-tp;
        display: flex;
        flex: 1;
        margin: auto;
        width: 80%;

        &__img {
            width: 30%;

            img {
                width: 100%;
            }
        }

        @media screen and (max-width: map-get($breakpoints, tablet)) {
            &__img {
                display: none;
            }
        }

        .about__img {
            flex: 1;
            padding-top: 0;

            img {
                width: 30%;
            }
        }
    }




    &__team {


        width: 100%;
        background-color: $color-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h2 {

            margin-top: $item-tm;
            margin-bottom: $title-bm;
            position: relative;
            width: 60%;
            text-align: right;


            &::before {

                @include decorations;
                right: -3050px;
                width: 3000px;
                height: 1px;
                background: $color-5;
                transform: translateY(-50%);
                box-sizing: border-box;
            }

            &::after {
                @include decorations;
                right: -50px;
                width: 10px;
                height: 10px;
                background: $color-1;
                border-radius: 50%;
                margin-top: -5px;
                transform: translateY(-50%);
                bottom: -30px;
                transform: none;
            }

        }
    }


    .cards__container {


        background-color: $color-2;
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        padding-bottom: $item-bp;
        padding-top: $item-tp;
        overflow: hidden;




        &::before {
            content: "TEAM";
            font-size: 9rem;
            font-weight: 900;
            position: absolute;
            top: -20px;
            left: 40%;
            transform: translateX(-50%);
            z-index: 2;
            opacity: 0.10;
            color: $color-5;
        }

        .person__presentation {
            display: flex;
            flex-direction: column;

            align-items: center;
            text-align: center;

            max-width: 300px;
            max-height: 470px;
            margin: 20px 20px 20px 20px;
            @include magic-border-hover(2px, $color-4, 0.3s, 1);


            &:not(:hover) {
                h3::after {
                    width: 120%;
                    @include employe-name-after;
                    -webkit-animation: line-through-reverse 0.5s ease both;
                    animation: line-through-reverse 0.5s ease both;

                    @-webkit-keyframes line-through-reverse {
                        from {
                            width: 0%;

                        }

                        to {
                            width: 120%;
                        }
                    }

                    @keyframes line-through-reverse {
                        from {
                            width: 0%;

                        }

                        to {
                            width: 120%;
                        }
                    }

                }
            }

            &:hover {


                span {
                    transform: translateY(-200px);
                    transition: all 0.5s;
                    opacity: 1;

                }

                img {

                    opacity: 0.5;
                    transition: opacity 0.5s;


                }

                h3::after {
                    width: 0;
                    content: "";
                    @include employe-name-after;
                    -webkit-animation: line-through 0.5s ease forwards;
                    animation: line-through 0.5s ease forwards;

                    @-webkit-keyframes line-through {
                        from {
                            width: 70%;

                        }

                        to {
                            width: 0%;
                        }
                    }

                    @keyframes line-through {
                        from {
                            width: 70%;

                        }

                        to {
                            width: 0%;
                        }
                    }

                }


            }

            span {
                padding-top: $title-tp;
                transition: all 0.2s;
                width: 90%;
                max-width: 250px;
                margin: auto;
                opacity: 0;

            }

            h3 {
                position: relative;
                width: auto;
            }


        }

        img {
            position: relative;
            flex: 1 0;
            max-width: 90%;
            height: auto;
            min-width: 200px;
            margin: 10px;
            transition: opacity 0.3s;




        }
    }
}

@media screen and (max-width: map-get($breakpoints, tablet)) {
    .about {
        &::before {
            font-size: 9rem;
            top: 50px;
            left: 350px;
            font-weight: 700;
        }
    }

    .about__img,
    .scroll,
    .dots {
        margin-left: 5%;
    }

    .about__carroussel::before {
        left: 82%;

    }

    .about__carroussel::after {
        left: 95%;

        max-width: 7rem;
    }


    .about .about__team {
        flex: 2;

        h2 {
            &::before {
                @include decorations;
                right: 0%;
                width: 1000px;
            }

            &::after {
                @include decorations;
                right: 0px;
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, mobile)) {
    .about {

        &::before {
            font-size: 5rem;
            top: 30px;
            left: 250px;
            font-weight: 900;
        }

        .cards__container .person__presentation {

            max-width: 250px;
            max-height: 400px;
        }



        .cards__container {
            &::before {
                font-size: 8rem;
            }
        }
    }

    .about__img,
    .scroll,
    .dots {
        margin-left: auto;
    }

    .about__carroussel::before,
    .about__carroussel::after {
        display: none;

    }

    .title-container .under-title {
        font-size: map-get($font-size, title4);
    }


}