.home-main {
    background-image: url(./../../../public/assets/img/lady-ball.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: scroll;
    background-repeat: repeat-y;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.title-container {
    padding-top: 200px;

    h1,
    .under-title {
        color: $color-1;
        text-align: center;

    }



    .under-title {
        color: $color-5;
        text-align: center;
        font-size: 2rem;
    }
}

.more-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    height: 50px;
    background-color: transparent;
    margin-top: 100px;
    border: $color-5 solid 2px;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        border: $color-4 solid 2px;
        transition: all 0.3s;

        .button-container {
            transform: translateX(118px);
            transition: all 0.3s;
            background-color: $color-5;

            i {
                color: $color-4;
            }
        }

        span {
            transform: translateX(-55px);
            transition: all 0.3s;

        }
    }

    span {
        transform: translateX(0px);
        transition: all 0.3s;
        padding-right: 5px;
    }

    .button-container {
        background-color: $color-4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transform: translateX(-8px);
        transition: all 0.3s;
    }

}

#about {
    position: absolute;
    bottom: 80px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    position: relative;
    text-align: justify;
    border-top: black dashed 2px;
    overflow: hidden;

    &::before {
        content: "À PROPOS";
        font-size: 10rem;
        font-weight: 900;
        position: absolute;
        text-align: center;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        color: lighten($color-1, 3%);
        width: 100%;
    }

    &__presentation {
        padding-top: $item-tp;
        display: flex;
        flex: 1;
        margin: auto;
        width: 80%;

        &__img {
            width: 30%;

            img {
                width: 100%;
            }
        }

        @media screen and (max-width: 1100px) {
            &__img {
                display: none;
            }
        }

        .about__img {
            flex: 1;
            padding-top: 0;

            img {
                width: 30%;
            }
        }
    }

    .about__text {
        flex: 2;

        h2 {
            margin-top: $title-tm;
            display: inline-block;
            position: relative;



            &::before {

                @include decorations;
                right: -3050px;
                width: 3000px;
                height: 1px;
                background: $color-5;
                transform: translateY(-50%);
                box-sizing: border-box;
            }

            &::after {
                @include decorations;
                right: -50px;
                width: 10px;
                height: 10px;
                background: $color-2;
                border-radius: 50%;
                margin-top: -5px;
                transform: translateY(-50%);
                bottom: -30px;
                transform: none;
            }
        }

        p {
            z-index: 1;
            padding-top: $item-tp;


            strong {
                color: lighten($color: $color-4, $amount: 20%);
                font-weight: bolder;

            }
        }
    }


    &__team {


        width: 100%;
        background-color: $color-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h2 {
            z-index: 2;
            margin-top: $item-tm;
            margin-bottom: $title-bm;
            position: relative;



            &::before {

                @include decorations;
                right: -3050px;
                width: 3000px;
                height: 1px;
                background: $color-5;
                transform: translateY(-50%);
                box-sizing: border-box;
            }

            &::after {
                @include decorations;
                right: -50px;
                width: 10px;
                height: 10px;
                background: $color-1;
                border-radius: 50%;
                margin-top: -5px;
                transform: translateY(-50%);
                bottom: -30px;
                transform: none;
            }

        }
    }


    .cards__container {


        background-color: $color-2;
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        padding-bottom: $item-bp;
        padding-top: $item-tp;
        overflow: hidden;




        &::before {
            content: "TEAM";
            font-size: 10rem;
            position: absolute;
            top: 0%;
            left: 35%;
            transform: translateX(-50%);
            z-index: 0;
            color: lighten($color-2, 3%);
        }

        .person__presentation {
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 300px;
            max-height: 470px;
            margin: 20px auto 20px auto;
            @include magic-border-hover(2px, $color-4, 0.3s, 1);


            &:not(:hover) {
                h3::after {
                    width: 70%;
                    @include employe-name-after;
                    -webkit-animation: line-through-reverse 0.5s ease both;
                    animation: line-through-reverse 0.5s ease both;

                    @-webkit-keyframes line-through-reverse {
                        from {
                            width: 0%;

                        }

                        to {
                            width: 70%;
                        }
                    }

                    @keyframes line-through-reverse {
                        from {
                            width: 0%;

                        }

                        to {
                            width: 70%;
                        }
                    }

                }
            }

            &:hover {


                p {
                    transform: translateY(-200px);
                    transition: all 0.5s;
                    opacity: 1;

                }

                img {

                    opacity: 0.5;
                    transition: opacity 0.5s;


                }

                h3::after {
                    width: 0;
                    content: "";
                    @include employe-name-after;
                    -webkit-animation: line-through 0.5s ease forwards;
                    animation: line-through 0.5s ease forwards;

                    @-webkit-keyframes line-through {
                        from {
                            width: 70%;

                        }

                        to {
                            width: 0%;
                        }
                    }

                    @keyframes line-through {
                        from {
                            width: 70%;

                        }

                        to {
                            width: 0%;
                        }
                    }

                }


            }

            p {
                padding-top: $title-tp;
                transition: all 0.2s;
                max-width: 250px;
                margin: auto;
                opacity: 0;

            }

            h3 {
                position: relative;
                width: auto;
            }


        }

        img {
            position: relative;
            flex: 1 0;
            max-width: 300px;
            min-width: 200px;
            margin: 10px;
            transition: opacity 0.3s;




        }
    }
}

@media screen and (max-width: 1100px) {

    .about__img,
    .scroll,
    .dots {
        margin-left: 5%;
    }

    .about__carroussel::before {
        left: 82%;

    }

    .about__carroussel::after {
        left: 95%;

        max-width: 7rem;
    }

    .about {

        ::after,
        ::before,
        &::after,
        &::before {
            font-size: 7rem;
        }
    }

    .about .about__text,
    .about .about__team {
        flex: 2;

        h2 {
            &::before {
                @include decorations;
                right: 0%;
                width: 1000px;
            }

            &::after {
                @include decorations;
                right: 0px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .about__team {

        ::after,
        ::before,
        &::after,
        &::before {
            font-size: 3rem;
        }
    }

    .about .cards__container {
        &::before {
            font-size: 8rem;
        }
    }

    .about__img,
    .scroll,
    .dots {
        margin-left: auto;
    }

    .about__carroussel::before,
    .about__carroussel::after {
        display: none;

    }

    .title-container .under-title {
        font-size: map-get($font-size, title4);
    }


}